<div class="modal fade" id="newTaskModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="resetVal()">&times;</button>
                <p class="modal-title" i18n="new task modal title">Set the task informations</p>
            </div>
            <div class="modal-body">
                <form action="listTasks.html">
                    <input #taskId
                           type="text"
                           name="taskId"
                           [(ngModel)]="task_id"
                           placeholder="Task id"
                           i18n-placeholder="task id placeholder"
                    >
                    <input #comment
                           type="text"
                           name="comment"
                           [(ngModel)]="comment_clear"
                           placeholder="Comment"
                           i18n-placeholder="comment placeholder"
                    >
                    <input #startTime
                           type="time"
                           name="startTime"
                           [(ngModel)]="start_time"
                           placeholder="Start time"
                           i18n-placeholder="start time placeholder"
                    >
                    <input #endTime
                           type="time"
                           name="endTime"
                           [(ngModel)]="end_time"
                           placeholder="End time"
                           i18n-placeholder="end time placeholder"
                    >
                </form>
            </div>
            <div class="modal-footer">
                <button
                    (click)="this.addNewTask(taskId.value, comment.value, startTime.value, endTime.value)"
                    type="submit"
                    data-dismiss="modal"
                >OK
                </button>
            </div>
        </div>
    </div>
</div>
