<div class="loginbox">
    <form>
        <label for="name">Name:</label><br>
        <input #name id="name" type="text" name="name" [(ngModel)]="nameField">
        <br>
        <label for="password">Password:</label><br>
        <input #password id="password" type="password" name="password" [(ngModel)]="pswField"> <br>
        <button type="submit" (click)="login(name.value, password.value)">Login</button>
        <button type="submit" (click)="register(name.value, password.value)">Register</button>
    </form>
</div>
