<p id="dayOfMonth">{{this.weekindex*7+this.dayindex+1-this.tlogService.dayTypeOfFirstDay}}</p>
<br><br><br>
<button (click)="this.tlogService.getLastClickedButton(this.weekindex*7+this.dayindex+1-this.tlogService.dayTypeOfFirstDay)"
        type="button" class="btn add-day" data-toggle="modal" data-target="#addDayModal"
        id="{{this.tlogService.selectedYear}}-{{this.tlogService.selectedM}}-{{this.weekindex*7+this.dayindex+1-this.tlogService.dayTypeOfFirstDay}} ">
    <span class="glyphicon glyphicon-plus"></span>
</button>
