$main-color: darkcyan;

p.dayOfMonth {
        text-align: left;
        font-size: 30px;
        float: left;
        visibility: visible;
}

.btn.add-day {
    background: $main-color;

    .glyphicon-plus {
        display: inline-block;
        font-size: 30px;
        background: $main-color;
    }
}


