<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th class="taskId" i18n="task id">Task id</th>
            <th class="comment" i18n="comment">Comment</th>
            <th class="startTime" i18n="start time">Start time</th>
            <th class="endTime" i18n="end time">End time</th>
            <th class="minPerTask" i18n="min per task">Length of task in minutes</th>
            <th class="edit" i18n="edit">Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let task of tlogService.tasks">
            <td>{{task.taskId}}</td>
            <td>{{task.comment}}</td>
            <td>{{task.startTime}}</td>
            <td>{{task.endTime}}</td>
            <td>{{task.minPerTask}}</td>
            <td>
                <span class="glyphicons">
					<button (click)="getClickedEdit(task.taskId, task.comment, task.startTime, task.endTime)"
                            type="button"
                            class="btn"
                            data-toggle="modal"
                            data-target="#editModal"
                    >
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
					<button (click)="getClickedDelete(task.taskId, task.startTime)"
                            type="button"
                            class="btn"
                            data-toggle="modal"
                            data-target="#deleteModal"
                    >
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
				</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
