<div class="container-fluid">
    <div class="row">
        <daily-stat></daily-stat>
        <div class="col-md-1" id="changeDay">
            <div class="form-group">
                <label for="selectDay">Select day:</label>
                <select class="form-control input-sm" id="selectDay">
                    <option>2016-09-23</option>
                    <option></option>
                    <option></option>
                    <option></option>
                </select>
            </div>
        </div>
    </div>
    <h2>List of tasks</h2><br>
    <task-list></task-list>
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn" data-toggle="modal" data-target="#newTaskModal" id="addNewTask">Add new task</button>
        </div>
    </div>
    <edit-modal></edit-modal>
    <delete-modal></delete-modal>
    <new-task-modal></new-task-modal>
</div>
