<div class="container-fluid">
    <div class="row">
        <daily-stat class="col-md-8"></daily-stat>
        <div class="col-md-4" id="changeDay">
            <div class="form-group">
                <label for="selectDay" i18n="day selection in dropdown">Select day:</label>
                <select #selectDay
                        class="form-control input-sm"
                        id="selectDay"
                        [(ngModel)]="selectedElement"
                        (ngModelChange)="updateElement(selectDay.value)"
                >
                    <option *ngFor="let day of tlogService.sortedWorkDays">{{day}}</option>
                </select>
            </div>
        </div>
    </div>
    <h2 i18n="task list table's title">List of tasks</h2>
    <br>
    <task-list></task-list>
    <div class="row">
        <div class="col-md-12">
            <button type="button"
                    class="btn"
                    data-toggle="modal"
                    data-target="#newTaskModal"
                    id="addNewTask"
                    i18n="add new task button text"
            >Add new task
            </button>
        </div>
    </div>
    <edit-modal></edit-modal>
    <delete-modal></delete-modal>
    <new-task-modal></new-task-modal>
</div>
