$main-color: darkcyan;

.grid-cell.day{
    background: darkgrey;
    margin: 1px 3px;
    height: 150px;
    width: 50%;
    border-style: solid;
    border-color: $main-color;
    border-width: 1px;
    text-align: center;
}
div.col-xs-1.grid-cell.day.work{
    background-color: white;
}

