<div class="modal fade" id="addDayModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="modal-title">Set required working hours</p>
            </div>
            <div class="modal-body">
                <form id="setHour">
                    <label>Set hours:</label><br>
                    <input type="text" name="requiredMinPerDay" id="requiredMinPerDay"
                           placeholder="The required hours" autofocus="autofocus" autocomplete="off"><br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" id="setHourButton">OK</button>
            </div>
        </div>
    </div>
</div>