$main-color: darkcyan;

.grid-calendar {

    .row.calendar-week-header {
        margin: 0 auto;
        display: flex;

        .grid-cell.dayName {
            width: 50%;
            margin: 1px 3px;
            border-style: solid;
            border-color: $main-color;
            border-width: 1px;
            text-align: center;
            height: 22px;
            background: white;

            p {
                text-align: center;
            }
        }
    }
    .row.calendar-week {
        margin: 0 auto;
        display: flex;
    }
}
