<div class="container-fluid">
    <div class="row">
        <monthly-stat></monthly-stat>
    </div>
    <div class="row">
        <div class="col-md-12">
            <my-pager></my-pager>
        </div>
    </div>
    <div class="grid-calendar col-md-12">
        <div class="row calendar-week-header">
                <ng-container i18n="day names in calendar header">
                    <div *ngFor="let day of dayNameList" class="col-md-1 grid-cell dayName">
                        <p>{day, select, Mon {Mon} Tue {Tue} Wed {Wed} Thu {Thu} Fri {Fri} Sat {Sat} Sun {Sun}}</p>
                    </div>
                </ng-container>
        </div>
        <my-week [week]="week"
                 [weekindex]="weekindex"
                 class="row calendar-week"
                 *ngFor="let week of tlogService.weeks; let weekindex=index"
        ></my-week>
        <add-day-modal></add-day-modal>
    </div>
</div>
